.create-resume-page-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
}

.create-resume-template-container {
    width: 80%;
    aspect-ratio: 8.5/11;
}

.input-chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: red;
}

.resume-chatbox {
    width: 100%;
    height: 400px;
    background-color: green;
}

@media screen and (max-width: 1070px) {
}

.modal {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    overflow: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(181, 181, 181);
}
