/* createAccount.css */
.create-account-background {
    background-image: url("../images/LoginBackground.png");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.create-account-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 50px 50px 50px 50px;
    height: 80%;
}

.create-account-form h2 {
    text-align: center;
}

.create-account-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.create-account-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.create-account-form .submit-btn {
    background-color: #008080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-account-form .cancel-btn {
    background-color: #db4437;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-account-form .form-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.create-account-form .form-options button {
    width: 48%;
}

.create-account-form .form-options button:first-child {
    background-color: #008080;
}

.create-account-form .form-options button:last-child {
    background-color: #db4437;
}

.create-account-form .password-match-error {
    color: red;
    margin-top: 10px;
    text-align: center;
}
