.create-resume-page-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    max-width: 850px;
}

.create-resume-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0em;
    width: 80%;
    border: 1px solid rgba(0, 128, 128, 0.2);
    box-shadow: 0px 5px 15px rgba(3, 44, 44, 0.5);
}

.create-resume-title-container .resume-title {
    background-color: white;
    font-size: 16px;
    font-weight: 800;
    width: 100%;
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    height: 3em;
    caret-color: black;
    box-sizing: border-box;
    padding: 10px;
    color: rgb(0, 128, 128);
}

.create-resume-title-container .resume-title:focus {
    border: 1px solid black;
    outline: none;
}

.create-resume-title-container .resume-title::placeholder {
    color: rgb(0, 128, 128);
}

.create-resume-title-container .resume-description {
    background-color: white;
    font-size: 14px;
    font-weight: 800;
    width: 100%;
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    box-sizing: border-box;
    padding: 10px;
}

.create-resume-title-container .resume-description:focus {
    border: 1px solid black;
    outline: none;
}

.create-resume-template-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 1em;
    width: 100%;
    height: max-content;
}

.create-resume-buttons-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.create-resume-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 50px;
    color: white;
    font-size: 1em;
    /*background-image: url("../images/export-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;*/
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 161, 161);
    cursor: pointer;
}

.create-resume-button p {
    margin: 0;
}

.create-resume-button .template-icon {
    background-image: url(../images/template-icon.png);
    transform: rotate(0deg);
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
}

.create-resume-button .sections-icon {
    background-image: url(../images/sections-icon.png);
    transform: rotate(0deg);
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
}

.create-resume-button .export-icon {
    background-image: url(../images/export-icon.png);
    transform: rotate(0deg);
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
}

.create-resume-button .save-icon {
    background-image: url(../images/save-icon.png);
    transform: rotate(0deg);
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
}

.save-button {
    margin-top: auto;
}

.create-resume-template-container {
    width: 80%;
    aspect-ratio: 8.5/11;
    border: 1px solid rgba(0, 128, 128, 0.2);
    box-shadow: 0px 5px 15px rgba(3, 44, 44, 0.5);
}

@media screen and (width < 768px) {
    .create-resume-page-container {
        align-items: center;
    }

    .create-resume-template-section {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 1em;
    }

    .create-resume-buttons-container {
        width: 80%;
        flex-direction: row;
        justify-content: center;
        column-gap: 0.5em;
    }

    .create-resume-button {
        width: 80px;
        height: 35px;
        font-size: 1em;
        justify-content: center;
        border-radius: 0px;
    }

    .create-resume-button .template-icon {
        display: none;
    }

    .create-resume-button .sections-icon {
        display: none;
    }

    .create-resume-button .export-icon {
        display: none;
    }

    .create-resume-button .save-icon {
        display: none;
    }
}

@media (width < 480px) {
    .create-resume-button {
        font-size: 0.6em;
        width: 45px;
        height: 25px;
    }
}

.modal {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    overflow: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 6vw;
    padding-block: 4vw;
    border: 1px solid rgba(0, 64, 64, 0.2);
    box-shadow: 0px 5px 15px rgba(3, 44, 44, 0.5);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}
