.create-resume-page-container {
    padding-block-start: 1rem;
    background-color: white;
}

.create-resume-edit-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: stretch;
    justify-content: center;
    /*max-width: 900px;*/
}

.create-resume-page-left-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 75%;
    max-width: 800px;
}

.create-resume-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0em;
    width: 100%;
    max-width: 800px;
    border: 1px solid rgba(0, 128, 128, 0.2);
    box-shadow: 0px 5px 15px rgba(3, 44, 44, 0.5);
}

.create-resume-template-container {
    width: 100%;
    aspect-ratio: 8.5/11;
    border: 1px solid rgba(0, 128, 128, 0.2);
    box-shadow: 0px 5px 15px rgba(3, 44, 44, 0.5);
}

.create-resume-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: rgba(0, 128, 128, 1);
    border: 1px solid rgba(0, 128, 128);
    box-shadow: 0px 5px 15px rgba(3, 44, 44, 0.5);
}

.create-resume-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border: none;
    font-size: 0.8em;
    color: white;
    background-color: rgb(0, 128, 128);
    cursor: pointer;
    padding-inline: 1rem;
}

/* all except last button should have a border on the bottom*/
.create-resume-button:not(:last-child) {
    border-block-start: none;
    border-block-end: 1px solid white;
}

.create-resume-button:last-child {
    border-block-end: none;
    border-block-start: 1px solid white;
}

.create-resume-title-container .resume-title {
    background-color: white;
    font-size: 16px;
    font-weight: 800;
    width: 100%;
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    height: 3em;
    caret-color: black;
    box-sizing: border-box;
    padding: 10px;
    color: rgb(0, 128, 128);
}

.create-resume-title-container .resume-title:focus {
    border: 1px solid black;
    outline: none;
}

.create-resume-title-container .resume-title::placeholder {
    color: rgb(0, 128, 128);
}

.create-resume-title-container .resume-description {
    background-color: white;
    font-size: 14px;
    font-weight: 800;
    width: 100%;
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    box-sizing: border-box;
    padding: 10px;
}

.create-resume-title-container .resume-description:focus {
    border: 1px solid black;
    outline: none;
}

/*
.create-resume-template-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 1em;
    width: 100%;
    height: max-content;
}
*/

.create-resume-button p {
    margin: 0;
    font-weight: 600;
}

.create-resume-button .template-icon {
    background-image: url(../images/template-icon.png);
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
}

.create-resume-button .sections-icon {
    background-image: url(../images/sections-icon.png);
    transform: rotate(0deg);
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
}

.create-resume-button .export-icon {
    background-image: url(../images/export-icon.png);
    transform: rotate(0deg);
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
}

.create-resume-button .save-icon {
    background-image: url(../images/save-icon.png);
    transform: rotate(0deg);
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px;
}

.save-button {
    margin-top: auto;
}

@media screen and (width < 768px) {
    .create-resume-page-left-section {
        row-gap: 0.5rem;
    }

    .create-resume-title-container .resume-title {
        font-size: 12px;
        height: 2rem;
    }

    .create-resume-title-container .resume-description {
        font-size: 10px;
    }

    .create-resume-buttons-container {
        justify-content: center;
    }

    .create-resume-button {
        font-size: 0.7em;
        height: 50px;
        padding-inline: 0.5rem;
    }
    /*
    .create-resume-button .template-icon {
        display: none;
    }

    .create-resume-button .sections-icon {
        display: none;
    }

    .create-resume-button .export-icon {
        display: none;
    }

    .create-resume-button .save-icon {
        display: none;
    }*/
    .create-resume-button p {
        font-weight: 100;
    }
}

@media (width < 480px) {
    .create-resume-title-container .resume-title {
        font-size: 10px;
        height: 1.5rem;
    }

    .create-resume-title-container .resume-description {
        font-size: 8px;
    }

    .create-resume-button {
        font-size: 0.7em;
        height: 55px;
        justify-content: center;
        border: none;
        position: relative;
        z-index: 0;
    }
    /* use after pseudo element to make smaller border*/
    .create-resume-button::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 50%;
        border: none;
        border-inline: 1px solid white;
        z-index: 1;
    }

    /* all except last button should have a border on the bottom*/
    .create-resume-button:not(:last-child) {
        border: none;
    }

    .create-resume-button:last-child {
        border: none;
    }

    .create-resume-button p {
        font-weight: 100;
    }

    .create-resume-page-left-section {
        width: 95%;
        align-self: center;
        padding-inline: 0;
        padding-block-end: 2rem;
    }

    .create-resume-edit-container {
        flex-direction: column;
    }

    .create-resume-buttons-container {
        flex-direction: row;
        padding: 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        border: none;
        background-color: white;
    }
}

.modal {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    overflow: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 6vw;
    padding-block: 4vw;
    border: 1px solid rgba(0, 64, 64, 0.2);
    box-shadow: 0px 5px 15px rgba(3, 44, 44, 0.5);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}
