.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f2f2f2;
}

.Header-left {
    display: flex;
    align-items: center;
}

.Header-app-name {
    font-family: "Montserrat", sans-serif; /* replace with your desired font */
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.Header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Header-logout {
    text-decoration: none;
    color: #333;
}

.Header-logout button {
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-size: medium;
}

.Header-right a {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
    font-size: large;
}

.Header-logo {
    height: 30px;
}
