.Header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid rgba(103, 103, 103, 0.4);
    /*account for the border width*/
    height: var(--header-height);
}

.Header-hamburger {
    display: none;
    font-size: 25px;
    margin-left: 1rem;
    cursor: pointer;
}

.Header-left {
    display: flex;
    align-items: center;
}

.Header-app-name {
    font-family: "Montserrat", sans-serif; /* replace with your desired font */
    font-size: 18px;
    margin-left: 0.5rem;
}

.Header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*background-color: lightgray;*/
    border-radius: 25px;
    padding-inline: 10px;
}

.Header-right-vertical {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.Header-right-vertical a {
    margin: 0.5rem 1rem;
    font-size: large;
    text-align: center;
}

.Header-account {
    cursor: pointer;
    height: 50px;
    position: relative;
}

.Header-account-dropdown {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 8px;
}

.Header-account-dropdown a {
    padding: 5px;
}

.Header-account-dropdown button {
    padding: 5px;
}

@media screen and (max-width: 450px) {
    .Header-right {
        display: none;
    }

    .Header-hamburger {
        display: flex;
    }

    .Header {
        height: var(--header-height) - 10px;
    }
}

.Header-logout {
    text-decoration: none;
    color: #333;
}

.Header-logout button {
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-size: medium;
}

.Header-right a {
    margin-inline: 0.5rem;
    text-decoration: none;
    color: #333;
    font-size: large;
}

.Header-logo {
    height: 50px;
}
