.home-container {
    height: calc(95vh - var(--header-height));
}

.landing-page {
    display: flex;
    flex-direction: column;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-position: center;
    height: 85vh;
}

.content-container {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.content-container h1 {
    font-size: 48px;
    max-width: 800px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.content-container h4 {
    padding-top: 1em;
}

.content-container p {
    font-size: 24px;
    line-height: 1.5;
    max-width: 800px;
}

div[class*="box"] {
    height: 33.33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (pointer: coarse) {
    .landing-page .btn {
        font-size: large;
        background-color: var(--accent-color);
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        height: 60px;
        width: 220px;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (pointer: fine) {
    .btn {
        margin-top: auto;
        margin-bottom: auto;
        line-height: 50px;
        height: 50px;
        text-align: center;
        width: 250px;
        cursor: pointer;
        font-weight: 600;
    }

    /* 
      ========================
            BUTTON ONE
      ========================
      */
    .btn-one {
        color: var(--accent-color);
        transition: all 0.3s;
        position: relative;
    }
    .btn-one span {
        transition: all 0.3s;
    }
    .btn-one::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: rgba(0, 128, 128, 0.5);
        border-bottom-color: rgba(0, 128, 128, 0.5);
        transform: scale(0.1, 1);
    }
    .btn-one:hover span {
        letter-spacing: 2px;
    }
    .btn-one:hover::before {
        opacity: 1;
        transform: scale(1, 1);
    }
    .btn-one::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        border: 1px solid var(--accent-color);
        background-color: rgba(255, 255, 255, 0.3);
    }
    .btn-one:hover::after {
        opacity: 0;
        transform: scale(0.1, 1);
    }
}

.resume-images {
    position: relative;
    display: block;
    z-index: 0;
}

.resume-pic-bottom {
    position: absolute;
    aspect-ratio: 8.5/11;
    transform: rotate(-5deg);
    width: 200px;
    right: 0;
    top: 0;
    z-index: 1;
    display: block;
}

.resume-pic-top {
    width: 200px;
    display: block;
    position: absolute;
    aspect-ratio: 8.5/11;
    right: 50px;
    top: 0;
    z-index: 2;
    transform: rotate(5deg);
}

.resume-images .modern-template-container-2 {
    display: block;
    position: absolute;
    width: 170px;
    aspect-ratio: 8.5/11;
    left: 25px;
    top: 0;
    z-index: 2;
    transform: rotate(10deg);
}

.resume-images .clean-template-container-2 {
    position: absolute;
    width: 170px;
    aspect-ratio: 8.5/11;
    transform: rotate(-7deg);

    left: 10px;
    top: auto;
    z-index: 1;
    display: block;
}

@media screen and (max-width: 768px) {
    .content-container p {
        font-size: 14px;
    }
    .content-container h1 {
        font-size: 30px;
    }
    .content-container h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
}
