.home-container {
    height: calc(98vh - var(--header-height));
}

.landing-page {
    display: flex;
    flex-direction: column;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-position: center;
    height: 100%;
}

.content-container {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    height: 100%;
}

.content-container h1 {
    font-size: 48px;
    max-width: 800px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.content-container h4 {
    padding-top: 1em;
}

.content-container p {
    font-size: 24px;
    line-height: 1.5;
    max-width: 800px;
}

.landing-page .call-button {
    font-size: large;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 60px;
    width: 220px;
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .content-container p {
        font-size: 14px;
    }
    .content-container h1 {
        font-size: 30px;
    }
    .content-container h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
}
