/* LoginForm.css */
.login-background {
    background-image: url("../images/LoginBackground.png");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    filter: blur(0px);
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 50px 50px 50px 50px;
    height: 50%;
}

.login-form h2 {
    text-align: center;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.login-form .login-btn {
    background-color: #008080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form .google-login-btn {
    background-color: #008080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form a {
    padding: 0px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form .create-account-btn {
    min-width: 100%;
    min-height: 100%;
    background-color: #008080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.login-form .login-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.login-form .login-options button {
    width: 48%;
}

.login-form .login-options a {
    width: 48%;
}

.login-form .login-options a:first-child {
    background-color: #4285f4;
}

.login-form .login-options button:last-child {
    background-color: #db4437;
}
