.login-background {
    width: 100%;
    background-image: url("../images/editorBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: calc(100vh - var(--header-height) - 1px);
}

.login-form {
    padding-top: var(--gap-small);
    padding-inline: var(--gap-large);
    width: 270px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(9px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(190, 190, 190, 0.2);
    border-radius: var(--border-radius-large);
    margin-block: auto;
}

.login-form h2 {
    text-align: center;
    color: var(--accent-color-2);
}

.login-form label {
    display: block;
    text-align: left;
}

.login-form label p {
    margin: 0;
    padding: 0;
}

.login-form input {
    width: 100%;
    padding: var(--gap-medium);
    border-radius: var(--border-radius-small);
    margin-block-start: var(--gap-small);
    margin-block-end: var(--gap-large);
    border: none;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(95, 95, 95, 0.3);
}

.login-form input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
}

.login-form .login-btn {
    background-color: var(--accent-color-2);
    color: white;
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    height: 50px;
    font-size: var(--font-small);
    margin-block-start: var(--gap-small);
    margin-block-end: 0;
}

.google-login-btn {
    height: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--font-small);
}

.google-logo {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.create-account-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block-end: var(--gap-large);
}

.make-account-message {
    text-align: center;
    font-size: var(--font-xsmall);
    font-style: italic;
}

.create-account-btn {
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    padding-left: 10px;
}

.login-form .login-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-small);
    margin-block-start: var(--gap-small);
}

.login-form .login-options p {
    margin: 0;
}
