.PageContainer {
    /*https://www.toptal.com/designers/subtlepatterns/page/2/*/

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - var(--header-height) - 1px);
    height: fit-content;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow-x: hidden;

    background-color: var(--accent-color-2);
    background: linear-gradient(
        180deg,
        var(--accent-color-2) 0%,
        var(--accent-color-2) 50%,
        white 65%,
        white 100%
    );
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
}

.BackgroundImageResume {
    /*background-image: url("../images/editorBackground2.png");*/
    background-color: rgba(240, 240, 240, 0.1);
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;
    border-radius: 0px;
    width: 100%;
    height: auto;
}

.PageContainer .Section {
    box-sizing: border-box;
    max-width: var(--max-width-large);
    width: 100%;
    padding-inline: var(--gap-large);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(150, 150, 150, 0.2);
    border-radius: var(--border-radius-large);
}

.ResumeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: -250px;
    margin-block-end: var(--gap-medium);
    padding-block-start: var(--gap-large);
    padding-block-end: var(--gap-x2large);
}

.introContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: var(--gap-xlarge);
    padding-block-start: var(--gap-xlarge);
    color: var(--accent-color-2);
    gap: var(--gap-large);
}

.PageContainer .diffusion {
    display: flex;
    min-width: 100%;
    min-height: 30px;
    margin-block-start: -30px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        var(--accent-color-2-dark) 25%,
        var(--accent-color-2) 100%
    );
}

.introContainer h1 {
    margin-block: 0;
    font-size: var(--font-heading);
    font-weight: 600;
    max-width: var(--max-width-large);
    text-align: center;
    letter-spacing: -2px;
    line-height: 1.2;
}

.introContainer h1 span {
    color: white;
    -webkit-text-stroke: 1px var(--accent-color-2);
    -moz-text-stroke: 1px var(--accent-color-2);
    -ms-text-stroke: 1px var(--accent-color-2);
    -o-text-stroke: 1px var(--accent-color-2);
    text-stroke: 1px var(--accent-color-2);
}

.introContainer p {
    text-align: center;
    font-size: var(--font-medium);
    max-width: var(--max-width-large);

    margin-block-start: 0;
    margin-block-end: var(--gap-xlarge);
}

.HeaderSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block-end: 400px;

    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.PageTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 100%;
    margin-bottom: var(--gap-medium);
}

.PageTitle {
    font-weight: 700;
    font-size: 2rem;
    color: black;
    letter-spacing: -1px;
}

.PageTitleContainer .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    cursor: pointer;
    border: solid 1px var(--accent-color-2);
    margin-block-start: var(--gap-medium);
    transition: background-color 0.5s ease;
    background-color: transparent;
}

.PageTitleContainer .Button p {
    font-size: 15px;
    color: var(--accent-color-2);
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

/*
.ResumeTiles {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    width: calc(100% - 2rem);
    min-width: 200px;
    border-radius: 0px;
    column-gap: 30px;
    padding-block: 1rem;
}

*/

.ResumeTiles {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    align-self: center;
    overflow-y: visible;
    max-height: min-content;
    min-width: 200px;
    border-radius: 0px;
    column-gap: var(--gap-medium);
    row-gap: 2em;
    padding-block-start: 1rem;
    border-radius: var(--border-radius-large);
}

/* .ResumeTile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 170px;
    padding: 10px;
} 
*/

.ResumeTile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    box-shadow: 0px 0px 20px var(--accent-color-2-xlight);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.CreateResumeTile {
    display: flex;
    flex-direction: column;
    /*min-width: 290px;*/
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--accent-color-2);
    border-radius: var(--border-radius-large);
}

.ResumePic {
    width: 100%;
    aspect-ratio: 8.5/11;
    /*max-width: 160px;
    min-width: 160px;
    height: 220px;*/
    border-style: solid;
    border-width: 0px;
    border-color: rgba(240, 248, 255, 0.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.15s ease-in-out;
}

.EmptyResumePic {
    width: 100%;
    aspect-ratio: 8.5/11;
    border-style: solid;
    border-width: 0px;
    border-radius: 4px;
    border-color: rgba(204, 204, 204, 0.5);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    transition: transform 0.15s ease-in-out;
}

.ResumePlusIcon {
    background-image: url("../images/plus.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: scale(1.5);
    transition: background-image 0.4s ease-in-out;
    transition: transform 0.15s ease-in-out;
}

.ResumeDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
    border-top: solid 1px lightgray;
    padding-inline: var(--gap-medium);
    border-bottom-left-radius: var(--border-radius-large);
    border-bottom-right-radius: var(--border-radius-large);
}

.ResumeDetails h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ResumeDetails p {
    font-size: 0.8rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.DateButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ResumeTileOptionsButton {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../images/options-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    height: 25px;
    width: 35px;
    border-radius: 5px;
}

.ResumeOptionsMenu {
    display: none;
    row-gap: 1rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-block: auto;
}

.ResumeOptionsMenu .EditResume {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    padding-block: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--accent-color-2);
    color: var(--accent-color-2);
    background-color: white;
}

.ResumeOptionsMenu .DeleteResume {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    padding-block: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--red-color);
    color: var(--red-color);
    background-color: white;
}

.ResumeOptionsMenu .ExportResume {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    padding-block: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--accent-color-2);
    color: var(--accent-color-2);
    background-color: white;
}

@media (pointer: coarse) {
    .CreateResumeTile {
    }
}

@media (pointer: fine) {
    .CreateResumeTile:hover .ResumePlusIcon {
        transform: scale(1.7);
    }
    .EmptyResumePic:hover {
        transform: scale(1);
    }
    .ResumePic:hover {
        transform: scale(1);
        /*transform: rotate(3deg);
        animation: scale 0.5s ease-in-out;*/
    }
    .ResumeTileOptionsButton:hover {
        background-color: var(--accent-color-2-xlight);
    }
    .EditResume:hover {
        background-color: var(--accent-color-2);
        color: white;
    }
    .DeleteResume:hover {
        background-color: var(--red-color);
        color: white;
    }
    .ExportResume:hover {
        background-color: var(--accent-color-2);
        color: white;
    }

    .PageTitleContainer .Button:hover {
        background-color: var(--accent-color-2-xlight);
    }
}

.SearchBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.SearchBar {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: var(--border-radius-xlarge);
    border: 1px solid var(--accent-color-2-xlight);
    height: 40px;
    padding-inline: var(--gap-small);
}

/*edit the SearchBar when it is selected*/
.SearchBar:focus {
    outline: none;
    background-color: rgb(255, 255, 255, 0.4);
    border: 1px solid rgb(255, 255, 255, 0.4);
}

@media (max-width: 1200px) {
    .PageContainer .Section {
        width: calc(100% - var(--gap-x3large));
    }

    .ResumeTiles {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}

@media (max-width: 935px) {
    .ResumeTiles {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        margin-inline: 0em;
    }
}

@media (max-width: 768px) {
    .PageContainer .Section {
        width: calc(100% - var(--gap-medium));
    }

    .ResumeTiles {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

@media (max-width: 600px) {
    .PageContainer .Section {
    }

    .PageContainer .Section .HeaderDescription {
        display: none;
    }

    .introContainer {
        margin-block-start: var(--gap-large);
        padding-block-end: var(--gap-xlarge);
    }

    .ResumeSection {
        margin-block-start: var(--gap-x2large);
        margin-block-end: var(--gap-x2large);
        padding-block-end: var(--gap-large);
    }

    .HeaderSection {
        padding-block-end: 0;
        background-image: none;
    }
    .PageContainer .diffusion {
        display: none;
    }

    .PageContainer {
        background-image: url("../images/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .ResumeTiles {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-auto-flow: column;
        overflow-x: auto;
        padding-block: var(--gap-medium);
    }

    .ResumeTile {
        box-shadow: none;
        width: 300px;
    }

    .CreateResumeTile {
        width: 300px;
    }
}

/* small 160 124 */
/* big 170 220 */

@keyframes scale {
    0% {
        transform: scale(0deg);
    }
    25% {
        transform: scale(1.05);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.05);
    }
}

.hidden-template {
    position: fixed;
    top: -9999px;
    left: -9999px;
    width: 610px;
    aspect-ratio: 8.5/11;
    overflow: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.export-modal {
    position: absolute;
    top: calc(var(--header-height) + var(--gap-xlarge));
    left: 50%;
    bottom: auto;
    transform: translate(-50%, 0%);
    width: calc(100% - var(--gap-large));
    max-width: 610px;

    background-color: var(--accent-color-2);
    max-height: calc(100vh - var(--header-height) - var(--gap-large));

    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: 1px solid var(--accent-color-2);
    border-radius: var(--border-radius-large);
    box-shadow: 0px 5px 15px rgba(3, 44, 44, 0.5);
    box-sizing: border-box;
    padding-inline: var(--gap-medium);
    padding-block: var(--gap-medium);
}

.export-modal .export-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-medium);
}

.export-modal .export-modal-buttons {
    width: 100%;
    display: flex;
    margin-block: var(--gap-medium);
    gap: var(--gap-small);
}

.export-modal button {
    background-color: white;
    color: var(--accent-color-2);
    width: 100%;
    height: 70px;
    font-weight: 600;
    font-size: var(--font-medium);
    border: none;
    border-top: 1px solid var(--accent-color-2);
    cursor: pointer;
}

.export-overlay {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("../images/background-pattern-7.png");
    background-repeat: repeat;
    background-size: 500px;
    background-color: white;
}

.modal .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-inline: var(--gap-medium);
    background-color: var(--accent-color-2);
    padding-block: var(--gap-xlarge);
    position: relative;
    z-index: 0;
}

.modal .create-resume-info-container h2 {
    color: white;
}

.modal .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -150px;
    width: 200%;
    height: 100%;
    background-color: var(--accent-color-2);
    z-index: -1;
}

.modal .create-resume-info-container {
    box-sizing: border-box;
    width: calc(100% - var(--gap-large));
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.modal .create-resume-info-container .button-container {
    width: 100%;
    display: flex;
    gap: var(--gap-medium);
    justify-content: space-between;
    margin-block: var(--gap-large);
}

.modal .create-resume-info-container button {
    border: none;
    padding-block: var(--gap-small);
    width: 70px;
    background-color: var(--accent-color-2);
    border-radius: 5px;
    margin-block: var(--gap-small);
    align-self: flex-end;
    cursor: pointer;
    color: white;
}

.modal .create-resume-info-container .horizontal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--gap-medium);
}

.modal .create-resume-info-container .horizontal-container h4 {
    width: 80px;
}

.modal .create-resume-info-container .horizontal-container input {
    height: 30px;
    max-width: 250px;
    flex-grow: 1;
    border: 1px solid var(--accent-color-2);
}

.modal .create-resume-info-container .horizontal-container textarea {
    resize: none;
    max-width: 250px;
    flex-grow: 1;
    border: 1px solid var(--accent-color-2);
}

@media (max-width: 480px) {
    .export-modal {
        top: calc(var(--header-height) + var(--gap-medium));
    }

    .SearchBarContainer {
        flex-direction: column;
        gap: 0;
    }

    .SearchBarContainer h4 {
        margin-block-end: var(--gap-small);
    }

    .SearchBar {
        width: 90%;
    }

    .PageTitleContainer {
        flex-direction: column;
    }

    .CreateResumeButton {
        width: 100%;
        height: 50px;
        margin-top: var(--gap-medium);
    }

    .ResumeTile {
        box-shadow: none;
        width: 240px;
    }

    .CreateResumeTile {
        width: 240px;
    }
}
