.PageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.BackgroundImageResume {
    /*background-image: url("../images/editorBackground2.png");*/
    background-image: url("../images/background.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;
    margin: 0px 1rem;
    border-radius: 20px;
}

.introContainer {
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    text-align: center;
}

.introContainer h4 {
    width: 80%;
}

.PageTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: calc(100% - 100px);
    padding-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: black;
}

.PageTitle {
    font-weight: 500;
    font-size: 2rem;
}

.CreateResumeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 180px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(0, 128, 128);
}

.CreateResumeButton p {
    font-size: 15px;
    color: white;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.ResumeTiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    /*height: 350px;*/
    width: calc(100% - 40px);
    min-width: 200px;
    border-radius: 0px;
    /*background-image: url("../images/LoginBackground.png");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: red;*/
    /*border-color: rgba(240, 248, 255, 0.5);
    box-shadow: 0px 0px 20px rgba(93, 117, 142, 1);
    */
    row-gap: 20px;
    column-gap: 30px;
}

.VerticalLine {
    margin-top: 60px;
    height: 100px;
    width: 2px;
    background-color: lightgray;
}

.ResumeTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    aspect-ratio: 1/1;
    /*min-width: 290px;*/
    padding: 10px;
    cursor: pointer;
    align-items: flex-start;
}

.CreateResumeTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    aspect-ratio: 1/1;
    /*min-width: 290px;*/
    padding: 10px;
    cursor: pointer;
    align-items: flex-start;
}

.ResumePic {
    width: 150px;
    aspect-ratio: 8.5/11;
    /*max-width: 160px;
    min-width: 160px;
    height: 220px;*/
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgba(240, 248, 255, 0.5);
    box-shadow: 0px 0px 20px rgba(93, 117, 142, 0.8);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;

    transition: transform 0.15s ease-in-out;
}

.EmptyResumePic {
    width: 150px;
    aspect-ratio: 8.5/11;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgba(240, 248, 255, 0.5);
    box-shadow: 0px 0px 20px rgba(93, 117, 142, 0.8);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: transform 0.15s ease-in-out;
}

.ResumePlusIcon {
    background-image: url("../images/plus.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    transition: background-image 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.ResumeDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    text-align: center;
    padding-left: 5px;
    width: 100%;
    text-align: left;
}

.ResumeDetails h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ResumeDetails p {
    font-size: 0.8rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (pointer: fine) {
    .CreateResumeTile:hover .ResumePlusIcon {
        background-image: url("../images/plus-selected.png");
        transform: scale(1.5);
    }
    .EmptyResumePic:hover {
        transform: scale(1.05);
    }

    .ResumePic:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 768px) {
    .page-title-container {
        width: calc(100% - 60px);
    }
    .ResumeTiles {
        width: calc(100% - 1rem);
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .VerticalLine {
        display: none;
    }
    .CreateResumeTile {
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .ResumeTiles {
        width: calc(100% - 1rem);
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .page-title-container {
        width: calc(100% - 40px);
    }

    .PageTitleContainer {
        flex-direction: column;
    }

    .CreateResumeButton {
        width: 100%;
        height: 70px;
        margin-top: 30px;
    }
    .CreateResumeTile {
        margin-left: 10px;
    }
    .VerticalLine {
        display: none;
    }
}

/* small 160 124 */
/* big 170 220 */
