/* 610px is the width that translates to the pdf*/
.clean-template-container {
    width: 100%;
    aspect-ratio: 8.5/11;
    background-color: white;
    position: relative;
}

.clean-template {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    color: #333;
    box-sizing: border-box;
    /*font-size: 2.5px;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin: 0em;
    padding: 1.5em;
}

.clean-template-content {
    background-color: white;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.clean-template-content .header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: fit-content;
}

.clean-template .header-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    row-gap: 0.5em;
}

.clean-template .header-label h3 {
    margin: 0;
    font-size: 110%;
}

.clean-template .header-contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 0.5em;
}

.clean-template .header-contact-info p {
    margin: 0;
    font-size: 90%;
}

.clean-resume-section {
    margin: 0px;
    position: relative;
    z-index: 0;
}

.clean-resume-section-preview {
    margin: 0px;
    position: relative;
    z-index: 0;
}

.clean-template .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block-start: 0.5em;
}

.clean-template .section hr {
    width: 100%;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
}

.clean-template .section h4 {
    margin-block: 0;
}

.clean-template .section h3 {
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

.clean-template .section p {
    margin-block: 0;
}

.clean-template .section .job-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;
}

.clean-template .section .job-container p {
    margin-block-start: 0.5em;
}
/*
.clean-template h3 {
    color: black;
    margin-block-end: 0.5em;
    font-size: 110%;
}

.clean-template h4 {
    color: black;
    margin-block-end: 0.5em;
    margin-block-start: 0;
    font-size: 100%;
}

.clean-template p {
    color: black;
    margin-block: 0;
    font-size: 95%;
}
*/
.clean-template .section ul {
    margin-block-end: 0;
    margin-block-start: 0.2em;
    padding-left: 3em;
}

.clean-template .section li {
    color: black;
}

.clean-template .horizontal-list li {
    display: inline-block;
    margin-right: 1em;
}

@media (pointer: fine) {
    .clean-resume-section::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        align-self: center;
    }

    .clean-resume-section:hover::after {
        background-color: var(--accent-color-2-light);
        transform: scaleX(1.05);
        cursor: pointer;
    }

    @media (max-width: 480px) {
        .clean-resume-section:hover::after {
            background-color: var(--accent-color-2-light);
            transform: scaleX(1.05);
            border-radius: 0px;
            cursor: pointer;
        }
    }
}
