/* 610px is the width that translates to the pdf*/
.container {
    width: 100%;
    aspect-ratio: 8.5/11;
    background-color: white;
    position: relative;
}

.template {
    font-family: Arial, sans-serif;
    line-height: 1;
    color: #333;
    box-sizing: border-box;
    /*font-size: 2.5px;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin: 0em;
    padding: 3em;
}

.template-content {
    background-color: white;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.header-contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 0.5em;
}

.template .header-contact-info p {
    margin-bottom: 0px;
    margin-top: 0em;
}

.template .header-name h3 {
    margin-bottom: 0px;
    margin-top: 0em;
}

.resume-section {
    margin: 0px;
    position: relative;
    z-index: 0;
}

@media (pointer: fine) {
    .resume-section::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        align-self: center;
    }

    .resume-section:hover::after {
        background-color: rgba(0, 128, 128, 0.5);
        transform: scaleX(1.05);
        cursor: pointer;
    }

    @media (max-width: 480px) {
        .resume-section:hover::after {
            background-color: rgba(0, 128, 128, 0.5);
            transform: scaleX(1.05);
            border-radius: 0px;
            cursor: pointer;
        }
    }
}

.template h3 {
    color: black;
}

.template p {
    color: black;
    margin-block: 0;
}

.template ul {
    margin-block-end: 0;
}

.template li {
    color: black;
}

.horizontal-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.horizontal-list li {
    display: inline-block;
    margin-right: 1em;
}

.export-button {
    width: 10%;
    height: 5%;
    margin: 0em;
}
/*
.header-section h2 {
    font-size: 16px;
}

.header-contact-info p {
    font-size: 12px;
    margin-bottom: 2px;
}


.header-section:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.section:hover {
    background-color: rgb(130, 238, 150);
    cursor: pointer;
}
*/
