.question-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 750px;
    height: 100%;
    min-width: 300px;
}

.question-container h2 {
    color: rgb(0, 128, 128);
}

.question-container h3 {
    margin-block: 0;
}

.question-container p {
    color: black;
}

.basic-info-input {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.long-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.short-input-container h3 {
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.short-input {
    padding-block: 10px;
}

.long-input {
    resize: none;
}

.close-modal-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    font-size: 16px;
    border: none;
    height: 25px;
    width: 40px;
    background-color: #008080;
    color: white;
    cursor: pointer;
}

.question-container-button-container {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    column-gap: 1rem;
    padding-block-start: 2rem;
}

.question-container-close-button {
    background-color: white;
    color: #008080;
    border: 2px solid #008080;
    border-radius: 30px;
    height: 3rem;
    width: 6rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 1em;
}

.question-container-apply-button {
    display: flex;
    background-color: #008080;
    color: white;
    border: 2px solid #008080;
    border-radius: 30px;
    height: 3rem;
    width: 6rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.skill-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.skill-input-bar {
    width: 200px;
    padding-block: 10px;
}

.skill-input-bar-long {
    width: 100%;
    min-width: 200px;
    padding-block: 10px;
}

.skill-input-container button {
    width: 50px;
    cursor: pointer;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: white;
}

.skill-input-container button:hover {
    background-color: white;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.skill-container {
    margin-top: 2em;
    display: flex;
    align-self: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.skill-item {
    display: flex;
    background-color: var(--accent-color);
}

.skill-item p {
    color: white;
    padding-inline: 1em;
}

.skill-item button {
    background-color: transparent;
    color: white;
    width: 30px;
    cursor: pointer;
    border: none;
}

.skill-item button:hover {
    background-color: red;
}

.experience-history-container {
    margin-block-start: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    background-color: transparent;
}

.experience-item {
    background-color: var(--accent-color);
    width: 100%;
    max-width: 750px;
    position: relative;
    border-radius: 5px;
    padding-inline: 0.2em;
}

.experience-item h4,
.experience-item h3,
.experience-item p {
    margin: 0;
}

.experience-item button {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 3px;
}
.experience-item button:hover {
    background-color: white;
    color: var(--accent-color);
}

.input-container-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
}

.experience-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-block-start: 1em;
    padding-inline: 0.4em;
}

.experience-button {
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    padding-inline: 0.5em;
    padding-block: 0.5em;
    border-radius: 5px;
}

.job-summary {
    width: 100%;
    max-width: 750px;
    resize: none;
}

.add-highlight-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.add-highlight-container button {
    background-color: var(--accent-color);
    width: 30px;
    border: none;
    margin-block: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.add-highlight-container .minus-button {
    background-color: rgb(255, 62, 62);
}

.prompt-buttons {
    display: flex;
    width: 100%;
    margin-block-start: 0.5em;
}

.prompt-buttons button {
    background-color: var(--accent-color);
    border: none;
    padding-block: 0.5em;
    cursor: pointer;
    border-radius: 5px;
}

.prompt-buttons .left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.prompt-buttons .right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 0.5em;
}
