.question-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.question-container h2 {
    color: rgb(0, 128, 128);
}

.question-container h3 {
    margin-block: 0;
}

.basic-info-input {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.long-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.short-input-container h3 {
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.short-input {
    padding-block: 10px;
}

.long-input {
    resize: none;
}

.close-modal-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    font-size: 16px;
    border: none;
    height: 25px;
    width: 40px;
    background-color: #008080;
    color: white;
    cursor: pointer;
}
