.question-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding: 10px;
    background-color: red;
}

.basic-info-input {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.long-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.short-input-container h3 {
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.short-input {
    padding-block: 10px;
}

.long-input {
    width: 100%;
    resize: none;
}
