html,
body {
    min-width: 320px; /* Set the minimum width to 320 pixels */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*https://www.toptal.com/designers/subtlepatterns/page/2/*/
    background-image: url("./images/background-pattern-7.png");
    background-repeat: repeat;
    background-size: 500px;
    background-color: white;
}

:root {
    /*account for bottom border of the header*/
    --header-height: calc(80px + 1px);
    --accent-color: rgb(0, 148, 148);
}

.App {
    text-align: center;
}
